# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Environment variables (API keys, secrets)
.env
.venv

# Operating System files
.DS_Store
Thumbs.db
#files
kraken_demo.py